<hr />
<footer class="is-size-7 block">
    <div class="container">
        <p>This is an experimental interface created by <a href="https://timsherratt.org">Tim Sherratt</a>.</p>
        <p>See DFAT for more information about their <a href="http://dfat.gov.au/about-us/history-of-australian-diplomacy/Pages/documents-on-australian-foreign-policy.aspx">Documents on Australian Foreign Policy</a>. Content on the DFAT site is available under a <a href="http://dfat.gov.au/about-us/about-this-website/Pages/copyright.aspx">CC-BY licence</a>.</p>
    </div>
</footer>
