<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Documents on Australian Foreign Policy :: {{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css">
    {% for style in page.custom-css %}
        <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/{{ style }}.css">
    {% endfor %}
    <script defer src="{{ site.baseurl }}/assets/js/fa-all.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery-3.4.1.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/nav.js"></script>
    {% for javascript in page.custom-js %}
        <script src="{{ site.baseurl }}/assets/js/{{ javascript }}.js"></script>
    {% endfor %}
  </head>
  <body>
      {% include _nav.html %}
      <section class="section">
          <div class="container">
              <h1 class="title is-2">
                  {{ page.title }}
              </h1>
              {{ content }}
        </div>
      </section>
      {% include _footer.html %}
  </body>
</html>
